---
version: "{build}-{branch}"

before_build:
  - git submodule update --init --depth 1

build_script:
  - export VCPKG_OVERLAY_TRIPLETS=cmake/vcpkg-triplets
  - cmake -B build -DCMAKE_BUILD_TYPE=Release
    -DCMAKE_TOOLCHAIN_FILE=~/vcpkg/scripts/buildsystems/vcpkg.cmake
    -DVCPKG_TARGET_TRIPLET=arch-env -DVCPKG_CHAINLOAD_TOOLCHAIN_FILE=$TOOLCHAIN
    -DCMAKE_OSX_ARCHITECTURES=$ARCH -DCMAKE_OSX_DEPLOYMENT_TARGET=$DEPLOY_TARGET
    -DRUNTIME_OPENSSL=YES
  - cmake --build build

test_script:
  - sh: '[[ "$ARCH" = arm64 ]] || cmake --build build --target test'
  - cmd: 'if NOT "%ARCH%" == "arm64ec" cmake --build build --target test'

for:
  - matrix: { only: [ appveyor_build_worker_image: &linux Ubuntu1804 ] }
    cache:
      - build/vcpkg_installed -> vcpkg.json, cmake/vcpkg-triplets/arch-env.cmake
    install: |-
      set -e

      sudo sed -i '/arch=/! s/^deb/deb [arch=amd64,i386]/' /etc/apt/sources.list
      awk '
      $3 !~ /ubuntu\.com/ { next }
      $1 == "deb" {
        $2 = "[arch=armhf,arm64]";
        $3 = "http://ports.ubuntu.com/ubuntu-ports/"
      } 1' /etc/apt/sources.list | sudo tee /etc/apt/sources.list.d/ports.list > /dev/null
      sudo sed -i 's/apt.postgresql.org/apt-archive.postgresql.org/' /etc/apt/sources.list
      sudo rm /etc/apt/sources.list.d/google-chrome.list

      # downgrade Catch2 to 3.3.1 for successfully compiling with GCC 7
      git -C ~/vcpkg fetch origin b28cddc45f5832fb46afaab11d61c9ccce50470a
      git -C ~/vcpkg restore -s b28cddc45f5832fb46afaab11d61c9ccce50470a ports/catch2

      install-deps() {
        local arch="$1"; shift
        local native=("$@" php-cli qemu-user-binfmt)
        local target=(
          libboost-dev libcurl4-openssl-dev libsqlite3-dev libssl-dev zlib1g-dev
        )

        sudo dpkg --add-architecture $arch
        sudo apt-get update -qq
        sudo apt-get install -qq aptitude > /dev/null
        sudo aptitude install -yR ${native[@]} ${target[@]/%/:$arch} > /dev/null
      }

      sudo update-alternatives --set gcc /usr/bin/gcc-7
      sudo apt-get install -qq --allow-downgrades libstdc++6=8.4.0-1ubuntu1~18.04 > /dev/null

      case $ARCH in
      x86_64)
        install-deps amd64
        ;;
      i686)
        install-deps i386 g++-multilib
        export TOOLCHAIN=$(pwd)/cmake/linux-cross.cmake \
               TOOLCHAIN_PREFIX=i386-linux-gnu
        ;;
      armv7l)
        install-deps armhf g++-arm-linux-gnueabihf
        export TOOLCHAIN=$(pwd)/cmake/linux-cross.cmake \
               TOOLCHAIN_PREFIX=arm-linux-gnueabihf
        ;;
      aarch64)
        install-deps arm64 g++-aarch64-linux-gnu
        export TOOLCHAIN=$(pwd)/cmake/linux-cross.cmake \
               TOOLCHAIN_PREFIX=aarch64-linux-gnu
        ;;
      esac
    artifacts:
      - path: build/reaper_reapack*.so

  - matrix: { only: [ appveyor_build_worker_image: macos-bigsur, appveyor_build_worker_image: macos-mojave ] }
    cache:
      - build/vcpkg_installed -> vcpkg.json, cmake/vcpkg-triplets/arch-env.cmake
    install:
      - |-
        case $ARCH in
        arm64)
          DEPLOY_TARGET=11.0
          sudo xcode-select -s /Applications/Xcode-13.2.1.app
          ;;
        *)
          DEPLOY_TARGET=10.9
          export SDKROOT=/Library/Developer/CommandLineTools/SDKs/MacOSX10.10.sdk
          curl -fsSLO https://github.com/phracker/MacOSX-SDKs/releases/download/10.15/MacOSX10.10.sdk.tar.xz
          echo 608a89db8b4be150a945871230b5ba5d4767a8500bc5fe76ddf10f5cec5ef513 MacOSX10.10.sdk.tar.xz | sha256sum -c
          sudo tar xf MacOSX10.10.sdk.tar.xz -C /Library/Developer/CommandLineTools/SDKs
          sudo xcode-select -s /Library/Developer/CommandLineTools
          ;;
        esac

      # don't use LibXml2/SQLite3 from Mono
      - sudo rm -r /Library/Frameworks/Mono.framework

      - |-
        if [ "$appveyor_build_worker_image" = "macos-mojave" ]; then
          # https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/
          sudo curl -k https://curl.se/ca/cacert.pem -o /etc/ssl/cert.pem

          # update to Catch2 v3
          git -C ~/vcpkg fetch origin 50fe35a3c3ca43ffe3b436380cf563100406459a
          git -C ~/vcpkg restore -s 50fe35a3c3ca43ffe3b436380cf563100406459a ports/catch2
        fi
    artifacts:
      - path: build/reaper_reapack*.dylib

  - matrix: { only: [ appveyor_build_worker_image: &windows Visual Studio 2022 ] }
    cache:
      - build\vcpkg_installed -> vcpkg.json, cmake\vcpkg-triplets\arm64ec-windows-static.cmake
    install:
      - if "%ARCH%" == "x64"     call "%ProgramFiles%\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"
      - if "%ARCH%" == "x86"     call "%ProgramFiles%\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars32.bat"
      - if "%ARCH%" == "arm64ec" call "%ProgramFiles%\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsamd64_arm64.bat"
      - if "%ARCH%" == "arm64ec" set CFLAGS=-arm64EC & set CXXFLAGS=-arm64EC
    build_script:
      - set VCPKG_OVERLAY_TRIPLETS=cmake\vcpkg-triplets
      - cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=RelWithDebInfo
        -DVCPKG_TARGET_TRIPLET=%ARCH%-windows-static
        -DCMAKE_TOOLCHAIN_FILE=C:\Tools\vcpkg\scripts\buildsystems\vcpkg.cmake
      - cmake --build build
    artifacts:
      - path: build\reaper_reapack*.dll
      - path: build\reaper_reapack*.pdb

environment:
  matrix:
    - job_name: Windows x86 64-bit
      appveyor_build_worker_image: *windows
      ARCH: x64
    - job_name: Windows x86 32-bit
      appveyor_build_worker_image: *windows
      ARCH: x86
    - job_name: Windows ARM 64-bit EC
      appveyor_build_worker_image: *windows
      ARCH: arm64ec
    - job_name: macOS x86 64-bit
      appveyor_build_worker_image: macos-mojave
      ARCH: x86_64
    - job_name: macOS x86 32-bit
      appveyor_build_worker_image: macos-mojave
      ARCH: i386
    - job_name: macOS ARM 64-bit
      appveyor_build_worker_image: macos-bigsur
      ARCH: arm64
    - job_name: Linux x86 64-bit
      appveyor_build_worker_image: *linux
      ARCH: x86_64
    - job_name: Linux x86 32-bit
      appveyor_build_worker_image: *linux
      ARCH: i686
    - job_name: Linux ARM 64-bit
      appveyor_build_worker_image: *linux
      ARCH: aarch64
    - job_name: Linux ARM 32-bit
      appveyor_build_worker_image: *linux
      ARCH: armv7l

deploy:
  provider: GitHub
  draft: true
  description: ''
  force_update: true
  auth_token:
    secure: 6dgJUqO2qAwADLQuvONd+mD5esFPBws7RA/3RSiEjrmquCsWpidm4ayawCPSEtfQ
  artifact: /.*\.(dll|dylib|so)/
  on:
    APPVEYOR_REPO_TAG: true
