[submodule "vendor/WDL"]
	path = vendor/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "vendor/reaper-sdk"]
	path = vendor/reaper-sdk
	url = https://github.com/justinfrankel/reaper-sdk.git
