#include "resource.hpp"

IDD_PROGRESS_DIALOG DIALOGEX 0, 0, 260, 85
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_SYSMENU | WS_CAPTION
CAPTION "ReaPack: Download Progress"
BEGIN
  LTEXT "File Name", IDC_LABEL, 5, 5, 250, 30
  CONTROL "", IDC_PROGRESS, PROGRESS_CLASS, 0x0, 5, 40, 250, 11
  PUSHBUTTON "Cancel", IDCANCEL, 105, 60, 50, 14
END
