#include "resource.hpp"

#ifdef _WIN32
#include "winres.h"
#endif

IDD_PROGRESS_DIALOG DIALOGEX 0, 0, 260, 80
STYLE DIALOG_STYLE
FONT DIALOG_FONT
BEGIN
  LTEXT "File Name", IDC_LABEL, 5, 5, 250, 30
  CONTROL "", IDC_PROGRESS, PROGRESS_CLASS, 0x0, 5, 40, 250, 11
  PUSHBUTTON "Cancel", IDCANCEL, 105, 60, 50, 14, NOT WS_TABSTOP
END

IDD_REPORT_DIALOG DIALOGEX 0, 0, 260, 240
STYLE DIALOG_STYLE
FONT DIALOG_FONT
CAPTION "ReaPack"
BEGIN
  LTEXT "Synchronization complete!", IDC_LABEL, 5, 5, 250, 10
  EDITTEXT IDC_REPORT, 6, 18, 248, 195, WS_VSCROLL | ES_MULTILINE |
    ES_READONLY | NOT WS_TABSTOP
  DEFPUSHBUTTON "OK", IDOK, 105, 220, 50, 14
END

IDD_CONFIG_DIALOG DIALOGEX 0, 0, 300, 180
STYLE DIALOG_STYLE
FONT DIALOG_FONT
CAPTION "ReaPack Configuration"
BEGIN
  LTEXT "Enabled remotes:", IDC_LABEL, 5, 5, 290, 10
  CONTROL "", IDC_LIST, WC_LISTVIEW, LVS_REPORT | LVS_SINGLESEL |
    LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 18, 290, 136
  PUSHBUTTON "Import", IDC_IMPORT, 5, 160, 40, 14
  PUSHBUTTON "Remove", IDC_REMOVE, 48, 160, 40, 14
  DEFPUSHBUTTON "Close", IDOK, 244, 160, 50, 14
END
