#include "resource.hpp"

#ifdef _WIN32
#include "winres.h"
#endif

IDD_PROGRESS_DIALOG DIALOGEX 0, 0, 260, 85
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_SYSMENU | WS_CAPTION
CAPTION "ReaPack: Download in progress"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "File Name", IDC_LABEL, 5, 5, 250, 30
  CONTROL "", IDC_PROGRESS, PROGRESS_CLASS, 0x0, 5, 40, 250, 11
  PUSHBUTTON "Cancel", IDCANCEL, 105, 60, 50, 14, NOT WS_TABSTOP
END
